.cart-overlay {
    position: absolute;
    right: 0;
    width: 400px;
    z-index: 200;
    border-radius: 0;
    border: solid #949494 1px;
    background-color: #eef0ed;
    /*display: none;*/
}

.overlay-top {
    text-align: right;
}

.overlay-table {
    margin-bottom: 5px;
}

.overlay-element {
    border: solid #949494;
}

.overlay-img {
    height: 120px;
    width: 80px;
}

.overlay-line {
    border: solid #949494 1px;
    margin: 16px;
}

.overlay-info {
    border: solid #949494;
    display: inline-block;
    padding-left: 25px;
    margin-bottom: auto;
}

.overlay-item {
    margin: auto;
}

.overlay-subtotal {
    text-align: left;
}

.overlay-subtotal h5 {
    margin-left: 25px;
}

.overlay-amount h5 {
    margin-right: 30px;
}

.overlay-title {
    margin-top: -15px;
}

.overlay-total {
    margin-top: 15px;
}

.overlay-sub-table {
    border-top: none;
}

.overlay-amount {
    text-align: right;
}

.overlay-table {
  border-top: solid #949494 1px;
}

.overlay-button {
    margin-top: 10px;
}