.checkout-overlay {
    position: absolute;
    width: 50%;
    top: 30%;
    left: 25%;
    z-index: 200;
    border-radius: 0;
    border: solid #949494 1px;
    background-color: #eef0ed;
    display: none;
}

.confirm-overlay-heading {
    margin-top: 25px;
}

.confirm-overlay-button {
    margin-top: 25px;
    margin-bottom: 25px;
}

.confirm-overlay-text {
    margin: 25px 40px 5px;
}