.single-product {
    border: none;
    background-color: #e7ebe4;
    max-width: 300px;
}

.prdouct-background {
    background-color: #e7ebe4;
}

.product-button {
    border-radius: 20px;
    color: #202527;
    border: solid #949494 1px;
    box-shadow: #949494 1px 1px;
    background-image: linear-gradient(to bottom, #5ca4b4, #7aa5b1);
    padding: 5px 20px;
    margin: 10px auto;
}

.product-info-button {
    margin-righ: 10px;
    margin-left: 20%;
}

.product-buy-button {
    margin-left: 10px;
    margin-right: 20%;
}

.product-button-div {
    text-align: center;
}

.product-card-img {
    margin: auto;
    width: 20%;
    height: 20%;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
}

.product-card-name {
    margin-top: 20px;
}

.search-main-container {
    text-align: right;
    margin-right: 5px;
}

.search-size-position {
    width: 400px;
}

.description-center {
    padding-right: 0;
}

#id_name, #id_description, #id_price, #id_category, #id_manufacturer, #id_image {
    margin: 0 auto 25px auto;
    border: solid #949494 1px;
    border-radius: 0;
    display: block;
    width: 75%;
    min-width: 275px;
    max-width: 550px;
}

label[for='id_category'] {
    display: block;
}

#id_on_sale {
    margin: 0 10px 20px 10px;
}

.offer-card-body {
    padding-bottom: 100px;
}

.brand-card-body, .category-card-body {
    padding-bottom: 25px;
}

.button-size {
    width: 90%;
    min-width: 185px;
}

.button-alignment {
    text-align: center;
}