/*---------- LOGIN-REGISTER SECTION -----------*/

.login-register-div {
    margin-top: 50px;
    margin-bottom: 70px;
}

.login-heading1 {
    padding-top: 50px;
    padding-bottom: 30px;
}

.login-heading2 {
    padding-top: 30px;
    padding-bottom: 50px;
}

.email-login-field {
    margin-top: 10px;
    margin-bottom: 35px;
}

.password-login-field {
    margin-top: 35px;
    margin-bottom: 30px;
}

.register-heading {
    padding-top: 30px;
    padding-bottom: 20px;
}

.register-text {
    padding-top: 10px;
    padding-bottom: 25px;
}

.top-register-field {
    margin-top: 10px;
    margin-bottom: 35px;
}

.middle-register-field {
    margin-top: 35px;
    margin-bottom: 35px;
}

.bottom-register-field {
    margin-top: 35px;
    margin-bottom: 30px;
}

.forgot-password-link {
    color: #3b7498;
    margin-bottom: 65px;
}

.register-login-field {
    border-radius: 0;
    border: solid #949494 1px;
}

.register-login {
    padding-left: 35px;
    padding-right: 35px;
}

.outer-register-login {
    border: solid #949494 2px;
    max-height: 2000px;
}

.inner-register-login {
    margin: auto;
}

.middle-register-login {
    min-height: 35px;
}

.register-button {
    margin-bottom: 50px;
}

.helptext {
    margin: auto 15px 25px 15px;
    display: block;
    color: #949494;
}

#id_first_name, #id_last_name, #id_username, #id_email {
    margin: 0 auto 10px auto;
    border: solid #949494 1px;
    display: block;
    width: 75%;
    min-width: 275px;
    max-width: 350px;
}

#id_password1 {
    margin: 0 auto -10px auto;
    border: solid #949494 1px;
    display: block;
    width: 75%;
    min-width: 275px;
    max-width: 350px;
}

#id_password2, #id_password {
    margin: 0 auto 25px auto;
    border: solid #949494 1px;
    display: block;
    width: 75%;
    min-width: 275px;
    max-width: 350px;
}

#id_password2 {
    margin-bottom: -10px;
}

.sign-in-button {
    margin-bottom: 50px;
}

.form-register #id_username {
    margin: 0 auto -10px auto;
}