/*-------------- CONTACT US --------------*/
.inner-container-contact-us {
    width: 1000px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.text-margin {
    margin-left: 5px;
}

#form_name, #form_lastname, #form_email, #form_phone {
    margin: 0 auto 25px 0;
    border: solid #949494 1px;
    border-radius: 0;
    display: block;
    width: 100%;
    min-width: 275px;
    max-width: 550px;
}

#form_message {
    margin: 0 auto 25px 0;
    border: solid #949494 1px;
    border-radius: 0;
    display: block;
    width: 100%;
    min-width: 275px;
    max-width: 1500px;
    height: 150px;
}

.confirmation-btn {
    margin-top: 50px;
}

.confirmation-div {
    margin: 150px auto 150px auto;
}