/*-------------- ABOUT US SECTION --------------*/
/*about-us-section" id="about-us"*/

.about-us-heading {
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 20px;
}

.about-us-text {
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 20px;
}

.container-about-div {

}

.about-us-heading {

}

.about-us-text {

}
