/* Styles frá Evu */

.navbar-brand img{
    max-height: 150px;
    width: auto;
    object-position: center;
    transition: 0.4s;
}

.navbar {
    width: 100%;
    background-color: #3b7498;
    transition: 0.4s;
    top: 0;
    z-index: 99;
}

.navbar a {
    color: #efa90f;
}

.navbar .nav-item.dropdown .dropdown-menu {
    margin-top: 0;
}

.navbar .nav-item.dropdown:hover .dropdown-menu{
    display: block;
}

.navbar .nav-item.dropdown .dropdown-menu:hover{
    display: block;
}

.header-row-width {
    width: 100%;
}

.header-left, .header-center, .header-right {
    margin-top: auto;
    margin-bottom: auto;
}

.header-right {
    padding-left: 7%;
}

#navbar-collapse {
    padding-left: 5%;
}
