/*-------------- ABOUT US SECTION --------------*/
.about-us-heading {
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #efa90f;
}

.about-us-text {
    font-weight: 600;
}

.in-text-link-contact-us {
    color: black;
    font-style: italic;
}

.container-about-div {
    position: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: solid #949494 1px;
    border-top: solid #949494 1px;
    width: 900px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 10px;
}

/*-------------- OPENING HOURS SECTION --------------*/
.container-openinghrs-div {
    margin-top: 50px;
    margin-bottom: 50px;
}

.opening-hours-table {
    margin: auto;
    border-bottom: solid #949494 1px;
    width: 240px;
}

.opening-hours-stores-heading {
    color: #efa90f;
    padding-bottom: 10px;
    margin: auto;
}

.opening-hrs-table-days {
    text-align: left;
}

.opening-hrs-table-hours {
    text-align: right;
}

.opening-hours-help-heading {
    color: #efa90f;
    margin-top: 30px;
    padding-bottom: 10px;
}

.opening-hours-help-table {
    margin: auto;
    border-bottom: solid #949494 1px;
    width: 240px;
}

/*-------------- STORE LOCATION SECTION --------------*/
.container-store-locations {
    margin-top: 50px;
    margin-bottom: 50px;
}
.store-location-heading{
    padding-bottom: 20px;
}

.store-location-sect{
    margin: auto;
    width: 330px;
}

.store-location {
    color: #efa90f;
    text-align: right;

}

.store-location-info {
    text-align: right;
}

.lower-container {
    margin-bottom: 50px;
}

.about-us-section {
    margin-top: 50px;
    margin-bottom: 25px;
}