
.update-product-div {
    margin-top: 50px;
    margin-bottom: 70px;
}

.outer-update-product {
    border: solid #949494 2px;
    max-height: 1000px;
    width: auto;
}
/**/
.update-product-button {
    border-radius: 20px;
    color: #202527;
    border: solid #949494 1px;
    box-shadow: #949494 1px 1px;
    background-image: linear-gradient(to bottom, #5ca4b4, #7aa5b1);
    padding: 10px 40px;
    margin-top: 20px;
    margin-bottom: 50px;
    position: center;
}

.update-product-heading1 {
    padding-top: 115px;
    padding-bottom: 30px;
}

.update-product-heading5 {
    padding-top: 10px;
    padding-bottom: 25px;
}

#id_name, #id_description, #id_price, #id_manufacturer, #id_category {
    margin: 0 auto 10px auto;
    border: solid #949494 1px;
    display: block;
    width: 75%;
    min-width: 275px;
    max-width: 350px;
}

label[for="id_on_sale"] {
    display: block;
    position: center;
    padding-top: 10px;
}

#id_on_sale {
    display: inline-flex;
}

label[for="id_category"] {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}