/*-------------- CONTACT US --------------*/
.container-contact-us {
    width: 1000px;
    margin: auto;
}

.send-button {
    background-image: linear-gradient(to bottom, #3874a0, #0794a1);
    width: 285px;
    margin-top: 40px;
    font-size: 12px;
}

.send-button:hover {
    background-color: #949494;
    color: #ffffff;
    border: solid #949494 2px;
}

