/*-------------- CONTACT US --------------*/
.container-contact-us {
    width: 1000px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 300px;
}

.send-button {
    background-image: linear-gradient(to bottom, #3874a0, #0794a1);
    width: 450px;
    font-size: 16px;
    border-radius: 20px;
}

.send-button:hover {
    background-color: #949494;
    color: #ffffff;
    border: solid #949494 2px;
}

