<section class="no-color game-of-month" id="game-month">

    <div class="game-of-month-div  main-display" id="section-one">
        <h1 class="game-of-month-heading">Game of the Month</h1>
        <img class="game-of-month-img" src="https://static.emulatorgames.net/images/nintendo/super-mario-bros-3.jpg" />
        <div class="game-of-month-button">
            <a href="/product/9"><button class="btn btn-lg month-game
            large-button" type="button">Game Info</button></a>
        </div>
    </div>
</section>