
<section class="no-color game-of-month" id="game-month">
    <h1 class="game-of-month-heading">Game of the Month - May 2020</h1>
    <div class="game-of-month-div">
        <img class="game-of-month-img" src="https://upload.wikimedia.org/wikipedia/en/0/03/Super_Mario_Bros._box.png" />
        <p class="offer_text">Super Mario Bros. is frequently cited as one of the greatest video
            games of all time, with praise on its precise controls. It is one of
            the bestselling games of all time, with more than 40 million
            physical copies. It is credited alongside the NES as one of the key
            factors in reviving the video game industry after the 1983 crash,
            and helped popularize the side-scrolling platform game genre.</p>
        <div class="game-of-month-button">
            <button class="btn btn-lg month-game large-button"
                    type="button">Game
                Info</button>
            <button class="btn btn-lg month-game large-button add-to-cart product_add_to_cart_button" type="button" productID="{{ product.id }}" type="button">Buy
        </div>
    </div>
</section>