{% load static %}
<section class="color-section blue-bacground review-section" id="reviews">
    <h1 class="review-heading">Customer Reviews</h1>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container review-div">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="review-img" src="/static/images/Logo.png" />
                        </div>
                        <div class="col-md-8">
                            <p>Ordered a game online and got it
                                delivered two days later.
                                All custumer service is great and staff very willing to help
                                and answer questions.</p>
                            <p>-- gunnsteinng --</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container review-div">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="review-img" src="/static/images/Logo.png" />
                        </div>
                        <div class="col-md-8">
                            <p>Most awesome store ever!!!</p>
                            <p>-- thorsteinnag --</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container review-div">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="review-img" src="/static/images/Logo.png" />
                        </div>
                        <div class="col-md-8">
                            <p>Great service. Great selection!</p>
                            <p>-- julalg --</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>