{% load static %}
<section class="color-section blue-bacground review-section" id="reviews">
    <h1 class="review-heading">Customer Reviews</h1>
    <div class="container review-div">
        <div class="row">
            <div class="col-md-4">
                <p>Image here</p>
            </div>
            <div class="col-md-8">
                <p>Ordered a game online and got it
                    delivered two days later.
                    All custumer service is great and staff very willing to help
                    and answer questions.</p>
                <p>-- gunnsteinng --</p>
            </div>
        </div>
    </div>
</section>