<section class="no-color offer-section" id="offers">
    <h1 class="offer-heading">Special Offers of the Week</h1>
    <div class="container offer-div">
        <div class="row">
            <div class="col-lg-6">
                <img class="offer-img" src="https://cdn.pixabay.com/photo/2018/06/26/12/01/gameboy-3499284_1280.jpg" />
                <h4 class="game-month-header">Nintendo NES</h4>
                <p class="offer_text">The Nintendo Entertainment System
                    (NES) is an 8-bit third-generation home video game
                    console produced, released, and marketed by Nintendo. It
                    is a remodelled export version of the companys Family
                    Computer (FC) platform in Japan, commonly known as the
                    Famicom, which was launched on July 15, 1983.</p>
                <p class="price">Now only $ 69.99</p>
                <div class="offer-button">
                    <button class="btn btn-lg month-game large-button" type="button">Game
                        Info</button>
                    <button class="btn btn-lg month-game large-button" type="button">Buy
                    Game</button>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="offer-img" src="https://images.g2a.com/newlayout/323x433/1x1x0/4eae33c9f56b/5af9c268ae653a87ca4062c3" />
                <h4 class="game-month-header">The Legend of Zelda - NES</h4>
                <p class="offer_text">The Legend of Zelda incorporates elements of
                    action, adventure, and role-playing genres. The player controls Link
                    from a flip-screen overhead perspective as he travels the overworld,
                    a large outdoor map with various environments.</p>
                <p class="price">Now only $ 39.49</p>
                <div class="offer-button">
                    <button class="btn btn-lg month-game large-button" type="button">Game
                        Info</button>
                    <button class="btn btn-lg month-game large-button" type="button">Buy
                    Game</button>
                </div>
            </div>
        </div>
    </div>
</section>