<section class="no-color offer-section" id="offers">
    <h1 class="offer-heading">Special Offers of the Week</h1>
    <div class="container offer-div">
        <div class="row">
            <div class="col-lg-6">
                <img class="offer-img" src="https://cdn.shopify.com/s/files/1/0942/1228/products/GKdbCbH.jpeg?v=1439162274" />
                <h4 class="game-month-header">The Legend of Zelda - NES</h4>
                <p class="offer_text">The Legend of Zelda incorporates elements of
                    action, adventure, and role-playing genres. The player controls Link
                    from a flip-screen overhead perspective as he travels the overworld,
                    a large outdoor map with various environments.</p>
                <p class="price">Now only $ 9.99</p>
                <div class="offer-button">
                    <button class="btn btn-lg btn-primary offer-week" type="button">Game
                        Info</button>
                    <button class="btn btn-lg btn-primary offer-week" type="button">Buy
                    Game</button>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="offer-img" src="https://cdn.shopify.com/s/files/1/0942/1228/products/GKdbCbH.jpeg?v=1439162274" />
                <h4 class="game-month-header">The Legend of Zelda - NES</h4>
                <p class="offer_text">The Legend of Zelda incorporates elements of
                    action, adventure, and role-playing genres. The player controls Link
                    from a flip-screen overhead perspective as he travels the overworld,
                    a large outdoor map with various environments.</p>
                <p class="price">Now only $ 9.99</p>
                <div class="offer-button">
                    <button class="btn btn-lg btn-primary offer-week" type="button">Game
                        Info</button>
                    <button class="btn btn-lg btn-primary offer-week" type="button">Buy
                    Game</button>
                </div>
            </div>
        </div>
    </div>
</section>