<div class="container-filter-section">
<div class="container">
  <div class="row">
    <div class="col">
    <div class="card">
	<article class="card-group-item">
		<header class="card-header">
			<h6 class="title">Brand </h6>
		</header>
		<div class="filter-content">
			<div class="card-body" >
			<form>
                <label class="form-check">
				  <input class="form-check-input" name="the_manufac" type="radio" value="">
				  <span class="form-check-label">
				    All
				  </span>
				</label> <!-- form-check.// -->
				<label class="form-check">
				  <input class="form-check-input" name="the_manufac" type="radio" value="Atari">
				  <span class="form-check-label">
				    Atari
				  </span>
				</label> <!-- form-check.// -->
				<label class="form-check">
				  <input class="form-check-input" name="the_manufac" type="radio" value="Nintendo">
				  <span class="form-check-label">
				    Nintendo
				  </span>
				</label>  <!-- form-check.// -->
				<label class="form-check">
				  <input class="form-check-input" name="the_manufac" type="radio" value="Playstation">
				  <span class="form-check-label">
				    Playstation
				  </span>
				</label>  <!-- form-check.// -->
                <label class="form-check">
				  <input class="form-check-input" name="the_manufac" type="radio" value="SEGA">
				  <span class="form-check-label">
				    SEGA
				  </span>
				</label>
			</form>

			</div> <!-- card-body.// -->
		</div>
	</article> <!-- card-group-item.// -->

	<article class="card-group-item">
		<header class="card-header">
			<h6 class="title">Category </h6>
		</header>
		<div class="filter-content">
			<div class="card-body">
			<label class="form-check">
                <input class="form-check-input" name="the_manufac" type="radio" value="console">
                <span class="form-check-label">
				    Consoles
                </span>
				</label> <!-- form-check.// -->
				<label class="form-check">
				  <input class="form-check-input" name="the_manufac" type="radio" value="game">
				  <span class="form-check-label">
				    Games
				  </span>
				</label> <!-- form-check.// -->
			</div> <!-- card-body.// -->
		</div>
	</article> <!-- card-group-item.// -->
    </div>
  </div>
    	<article class="card-group-item">
		<header class="card-header">
			<h6 class="title">Sort by: </h6>
		</header>
		<div class="filter-content">
			<div class="card-body">
			<label class="form-check">
                <input class="form-check-input" name="the_sort" type="button" value="name">
                <span class="form-check-label">
                    <br>
                </span>
				</label> <!-- form-check.// -->
				<label class="form-check">
				  <input class="form-check-input" name="the_sort" type="button" value="price">
				  <span class="form-check-label">
				    <br>
				  </span>
				</label> <!-- form-check.// -->
			</div> <!-- card-body.// -->
		</div>
	</article> <!-- card-group-item.// -->
</div> <!-- card.// -->
</div>
</div>