<div class="container-filter-section">
<div class="container">
  <div class="row">
    <div class="col">
    <div class="card remove-border">

	<article class="card-group-item">
		<header class="card-header">
			<h6 class="title">SPECIAL OFFERS</h6>
		</header>
		<div class="filter-content">
			<div class="card-body offer-card-body" >
			<form class="form-text-align">
                <label class="form-check">
				  <input class="form-check-input button-size large-button offer-button
				  btn-filter" id="special_price" type="button" value="CLICK HERE">
				  <span class="form-check-label">
				  </span>
				</label> <!-- form-check.// -->
			</form>

			</div> <!-- card-body.// -->
		</div>
	</article> <!-- card-group-item.// -->


	<article class="card-group-item">
		<header class="card-header">
			<h6 class="title">Brand </h6>
		</header>
		<div class="filter-content button-alignment">
			<div class="card-body brand-card-body">
			<form>
                <label class="form-check">
				  <input class="form-check-input large-button button-size btn-filter
				  btn-brand" id="brand-all" type="button" value="See All">
				  <span class="form-check-label">
				    <br><br>
				  </span>
				</label> <!-- form-check.// -->
				<label class="form-check">
				  <input class="form-check-input large-button button-size btn-filter btn-brand" id="brand-atari" type="button" value="Atari">
				  <span class="form-check-label">
                    <br><br>
				  </span>
				</label> <!-- form-check.// -->
				<label class="form-check">
				  <input class="form-check-input large-button button-size btn-filter btn-brand" id="brand-nintendo" type="button" value="Nintendo">
				  <span class="form-check-label">
                    <br><br>
				  </span>
				</label>  <!-- form-check.// -->
				<label class="form-check">
				  <input class="form-check-input large-button button-size btn-filter btn-brand" id="brand-playstation" type="button" value="Playstation">
				  <span class="form-check-label">
                      <br><br>
				  </span>
				</label>  <!-- form-check.// -->
                <label class="form-check">
				  <input class="form-check-input large-button button-size
				  btn-filter btn-brand" id="brand-sega" type="button" value="SEGA">
				  <span class="form-check-label">
                    <br><br>
				  </span>
				</label>
			</form>

			</div> <!-- card-body.// -->
		</div>
	</article> <!-- card-group-item.// -->



	<article class="card-group-item">
		<header class="card-header">
			<h6 class="title">Category </h6>
		</header>
		<div class="filter-content">
			<div class="card-body category-card-body">
			<label class="form-check">
                <input class="form-check-input button-size large-button btn-filter" id="category-console" type="button" value="console">
                <span class="form-check-label">
				    <br><br>
                </span>
				</label> <!-- form-check.// -->
				<label class="form-check">
				  <input class="form-check-input button-size large-button btn-filter" id="category-game" type="button" value="game">
				  <span class="form-check-label">
				    <br><br>
				  </span>
				</label> <!-- form-check.// -->
			</div> <!-- card-body.// -->
		</div>
	</article> <!-- card-group-item.// -->
    </div>
		<article class="card-group-item">
		<header class="card-header">
			<h6 class="title">Sort by: </h6>
		</header>
		<div class="filter-content filter-height">
			<div class="card-body">
			<label class="form-check">
                <input class="form-check-input button-size large-button btn-filter" id="sort-name"
					   type="button" value="name">
                <span class="form-check-label">
                    <br><br>
                </span>
				</label> <!-- form-check.// -->
				<label class="form-check form-check-padding">
				  <input class="form-check-input button-size large-button btn-filter" id="sort-price"
						 type="button" value="price">
				  <span class="form-check-label">
				    <br>
				  </span>
				</label> <!-- form-check.// -->
			</div> <!-- card-body.// -->
		</div>
	</article> <!-- card-group-item.// -->
  </div>

</div> <!-- card.// -->
</div>
</div>