{% include 'top.html' %}
{% block content %}
<section class="product_section" id="product">
    <div class="container product-div">
        <div class="row">
            <div class="col-lg-4">
                <img class="product-img" src="{{ product.productimage_set.first.image }}" />
            </div>
            <div class="col-lg-8">
                <h1 class="offer-heading">{{ product.name }}</h1>
                <h2>Console: NES</h2>
                <p class="product_text">{{ product.description }}</p>
                <p class="price">Price: {{ product.price }} $</p>
                <div class="offer-button">
                    <button class="btn btn-lg btn-primary month-game"
                            type="button">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% include 'bottom.html' %}