{% load static %}
{% include 'top.html' %}

<div class="container search-main-container search-size-position">
    {% include 'search_bar.html' %}
</div>

{% include 'product/filter_panel.html' %}


<main role="main">
<div class="product-background">
  <div class="album py-5">
    <div class="container">
      <div class="row row-cols-3" id="product_filter_stuff">
          {% for product in products %}
            <div class="col-md-4">
                {% include 'product/single_product.html' with product=product %}
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>
</main>

{% include 'bottom.html' %}