<section class="product_section" id="product">
    <div class="card single-product">
        <img src="{{ product.productimage_set.first.image }}"
             class="bd-placeholder-img card-img-top product-card-img"
             width="225"
             height="225"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice" focusable="false"
             role="img" aria-label="Placeholder: Thumbnail" />
        <h5 class="product-card-name">{{ product.name }}</h5>
        <div class="card-body">
            <p class="text-truncate align-items-center">{{ product.description }}</p>
            <p>$ {{ product.price }}</p>
                <div class="product-button-div product-info-button">
                    <a href="/product/{{ product.id }}" type="button"
                       class="btn btn-sm btn-outline-secondary
                       product-button">Info</a>
                </div>
        </div>
    </div>
</section>