
<div class="about-us-section" id="about-us">
        <h1 class="about-us-heading">This is Captain Console</h1>
        <div class="container-about-div">
            <div class="about-us-text">
                <p>Do you want to get your retro on? Then you have washed up on the
                    right beach of the internet!<br>
                    Captain Console is a retro-dedicated game and console merchant,
                    sailing the wast oceans of cyberspace to bring you that classic
                    gaming experience. Founded by a group of dedicated console
                    enthusiasts in 2020, our goal is to offer this unique form of
                    entertainment at a wallet friendly price. We have physical stores
                    in addition to our webshop- we are always happy to see - and
                    assist you on your retro gaming quest. Don't hesitate to hit us
                    up <a class="in-text-link-contact-us" href="/contact_us/">here</a>
                    if you can't find what you are looking for!
                </p>
            </div>
        </div>
    <br>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 container-openinghrs-div">
            <h1 class="opening-hours-heading">Opening hours</h1>
        <br>
            <table class="opening-hours-table">
                <h4 class="opening-hours-stores-heading">Stores</h4>
                <thead>
                </thead>
                <tbody>
                <tr>
                    <td class="opening-hrs-table-days">Mon - Thu</td>
                    <td class="opening-hrs-table-hours">11:00 - 17:00</td>
                </tr>
                <tr>
                    <td class="opening-hrs-table-days">Fridays</td>
                    <td class="opening-hrs-table-hours">11:00 - 18:00</td>
                </tr>
                <tr>
                    <td class="opening-hrs-table-days">Saturdays</td>
                    <td class="opening-hrs-table-hours">11:00 - 16:00 </td>
                </tr>
                <tr>
                    <td class="opening-hrs-table-days">Sundays</td>
                    <td class="opening-hrs-table-hours">Closed </td>
                </tr>
                </tbody>
            </table>
            <table class="opening-hours-help-table">
                <h4 class="opening-hours-help-heading">Virtual desk</h4>
                <thead>
                </thead>
                <tbody>
                <tr>
                    <td class="opening-hrs-table-days">Mon - Sat</td>
                    <td class="opening-hrs-table-hours">10:00 - 18:00 </td>
                </tr>
                <tr>
                    <td class="opening-hrs-table-days">Saturdays</td>
                    <td class="opening-hrs-table-hours">11:00 - 17:00 </td>
                </tr>
                <tr>
                    <td class="opening-hrs-table-days">Sundays</td>
                    <td class="opening-hrs-table-hours">Closed </td>
                </tr>
            </table>
        </div>

    <div class="col-md-6 container-store-locations">
            <h1 class="store-location-heading">Store locations</h1>
            <div class="store-location-sect">
                <h4 class="store-location">Carmack Square</h4>
                    <p class="store-location-info">13 Deimos street, 13246 Phobos City, DE</p>
        <br>
                <h4 class="store-location">Naka Center</h4>
                    <p class="store-location-info">114 Mobius Ave, 65498 South Island, CI</p>
        <br>
                <h4 class="store-location">Shigeru-Takashi Mall</h4>
                    <p class="store-location-info">8th Bowser street, 56833 Toadstool, MK</p>
            </div>
        </div>
    </div>
</div>