{% load static %}
{% include 'top.html' %}
{% block content %}
    <section class="about-us-section" id="about-us">
        <div class="container-about-div">
            <h1 class="about-us-heading">This is Captain Console</h1>
                <div class="about-us-text">
                    <p>Do you want to get your retro on?
                        Then you have washed up on the right beach of the internet!</p>
                    <p>Captain Console is a retro-dedicated game and console merchant,
                        sailing the wast oceans of cyberspace to bring you that classic
                        gaming experience. Founded by a group of dedicated console
                        enthusiasts in 2020, our goal is to offer this unique form of entertainment
                        at a wallet friendly price.</p>
                    <p>We have physical stores in addition to our webshop- we are always
                        happy to see - and assist you on your
                        retro gaming quest. Don't hesitate to hit us up here if you can't
                        find what you are looking for!</p>
                </div>
        </div>
        <br>
        <div class="container-openinghrs-div">
            <h2 class="opening-hours-heading">Opening hours</h2>
                <div class="opening-hours-text">
                </div>
                <div class="opening-hours-list">
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>

                </div>
        </div>
    </section>
    {% include 'footer.html' %}
{% endblock %}