<header class="main-header sticky-top">
    <div class="container">
        <nav class="main-nav">
            <ul class="main-nav-list">
                <li class="onhover">
                    <button class="dropbtn">Shop</button>
                        <div class="dropdown-content">
                          <a href="/product/">Consoles</a>
                          <a href="/product/">Games</a>
                        </div>
                </li>
                <li>
                    <a href="#">New Items</a>
                </li>
                <li>
                    <a href="#">Special Offers</a>
                </li>
            </ul>
        </nav>
        <h1 class="logo">
            <a href="/">
            <img src="/static/images/Logo.png" alt="logo"/></a>
        </h1>
        <nav class="main-nav">
            <ul class="main-nav-list">
                {% if user.is_authenticated %}
                    <li><a href="/user/">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}

                <li>
                    <a href="/cart/">My Cart</a>
                </li>
            </ul>
        </nav>
    </div>
</header>