
<div class="overlay-top">
    <button type="submit" class="btn btn-secondary close-button"><i
            class="fa fa-times fa-2x"></i></i></button>
</div>
<h3 class="overlay-title">Shopping Cart</h3>
<hr class="overlay-line">
<div class="overlay-item">
    <div class="table-responsive">
        <table class="table table-striped overlay-table">
            <tr>
                <td><img class="overlay-img" src="https://upload.wikimedia.org/wikipedia/en/0/03/Super_Mario_Bros._box.png" /> </td>
                <td>
                    <h6 class="overlay-name">Super Mario Bros</h6>
                    <p class=""overlay-console>- NES -</p>
                    <div class="input-group">
                        <div class="input-group-prepend cart-input-group">
                            <button type="submit" class="btn btn-secondary
                            update-button minus-button">-</button>
                            <input class="form-control
                            form-control-cart" value="1">
                            <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary
                            update-button plus-button">+</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="overlay-subtotal"><h5 class="overlay-total">Subtotal:</h5></td>
                <td class="overlay-amount"><h5 class="overlay-total">$ 19.99</h5></td>
            </tr>
        </table>
    </div>
</div>
<hr class="overlay-line">
<div class="offer-button">
    <button class="btn btn-lg text-uppercase large-button confirm-button
    overlay-button"
    type="button">CHECKOUT</button>
</div>