{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Captain Console</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles_eob.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles_gg.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles_cart.css' %}" />
    <link rel="stylesheet" href="{% static 'css/overlay_cart.css' %}" />
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <link rel="stylesheet" href="{% static 'css/products.css' %}" />
    <link rel="stylesheet" href="{% static 'css/overlay_confirmation.css' %}" />
    <link rel="stylesheet" href="{% static 'css/register_login.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles_tag.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles_about_us.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles_contact_us.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles_update_product.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles_create_product.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% include 'header.html' %}
</head>
<body>
    <div class="container search-main-container search-size-position">
        {% include 'search_bar.html' %}
    </div>