{% load static %}
<div class="checkout-overlay">
    {% include 'checkout/overlay_checkout.html' %}
</div>
<div class="container cart-div">
  <div class="py-5 text-center">
    <h1 class="cart-heading">Checkout</h1>
    <h5 class="pre-checkout-text">To checkout please check if the items in your cart are
        correct (on the right) and if so fill in the form below (all fields
        are mandatory).</h5>
      <h5 class="post-checkout-text">Please carefully review the information below before
      selecting "Place Order" as that will finalize the order.</h5>
  </div>

  <div class="row">

      <div class="col-md-4 order-md-2 mb-4">
        {% include 'checkout/your_cart.html' %}
    </div>

      <div class="col-md-8 order-md-1 text-position">

        {% include 'checkout/billing_address.html' %}

        <hr class="mb-4 horizontal-line">

        {% include 'checkout/payment.html' %}

        <hr class="mb-4 horizontal-line">
        <div class="checkout-button to-checkout" >
            <button class="btn btn-primary btn-lg large-button"
                type="submit" id="to-checkout-button">Continue to checkout</button>
        </div>
          <div class="checkout-buttons">
              <div class="checkout-button">
                  <button class="btn btn-primary btn-lg large-button"
                          type="submit" id="change-info-button">Change information</button>
                  <button class="btn btn-primary btn-lg large-button"
                          type="submit" id="place-order-button">Place order</button>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>