<div class="container cart-div">
  <div class="py-5 text-center">
    <h1 class="cart-heading">Checkout</h1>
    <h5>To checkout please check if the items in your cart are
        correct (on the right) and if so fill in the form below (all fields
        are mandatory).</h5>
  </div>

  <div class="row">

      <div class="col-md-4 order-md-2 mb-4">
        {% include 'checkout/your_cart.html' %}
    </div>

      <div class="col-md-8 order-md-1 text-position">

        {% include 'checkout/billing_address.html' %}

        <hr class="mb-4 horizontal-line">

        <div class="shipping-address-div">
            {% include 'checkout/shipping_address.html' %}
            <hr class="mb-4 horizontal-line">
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="same-address">
          <label class="custom-control-label" for="same-address">Shipping
              address is different from my billing address</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="save-info">
          <label class="custom-control-label" for="save-info">Save this information for next time</label>
        </div>
        <hr class="mb-4 horizontal-line">

        {% include 'checkout/payment.html' %}

        <hr class="mb-4 horizontal-line">
        <div class="checkout-button">
            <button class="btn btn-primary btn-lg large-button"
                type="submit">Continue to checkout</button>
        </div>
      </form>
    </div>
  </div>
</div>