{% load static %}
{% include 'top.html' %}

    <div class="container confirmation-div">
        <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <h1 class="game-of-month-heading">Confirmation of Order</h1>
                    <h5>Your order has been placed. Thank you for your
                        purchase.</h5>
                    <h5>We look forward seeing you again.</h5>
                    <a href="/" type="button" class="btn btn-lg
                    text-uppercase large-button
                    confirmation-btn">Back to homepage</a>
                </div>
                <div class="col-lg-3"></div>
        </div>
    </div>

{% include 'bottom.html' %}