<div>
    <h2 class="confirm-overlay-heading">Your order has been placed</h2>
</div>
<div class="confirm-overlay-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="confirm-overlay-button">
    <button class="btn btn-primary btn-lg large-button"
        type="submit">Continue to Front Page</button>
</div>