<h4 class="mb-3">Payment</h4>

<div class="d-block my-3">
  <label class="pre-checkout-text">We only accept payments with credit cards at the moment.</label>
</div>
<div class="row">
  <div class="col-md-6 mb-3">
    <label for="ccName">Name on card</label>
    <input class="form-control cart-input-field" id="ccName" name="ccName" placeholder="Full name as displayed on card">
  </div>
  <div class="col-md-6 mb-3">
    <label for="ccNumber">Credit card number</label>
    <input class="form-control cart-input-field" id="ccNumber" name="ccNumber" placeholder="">
  </div>
</div>
<div class="row">
  <div class="col-md-3 mb-3">
    <label for="ccExpiration">Expiration</label>
    <input class="form-control cart-input-field" id="ccExpiration" name="ccExpiration"
           placeholder="MM / YY">
  </div>
  <div class="col-md-3 mb-3">
    <label for="ccCVV">CVC</label>
    <input class="form-control cart-input-field" id="ccCVV" name="ccCVV" placeholder="">
  </div>
</div>