{% include 'top.html' %}
{% block content %}
    <section class="no-color login-section" id="login">
        <div class="container login-register-div main-display">
            <div class="row">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-6 outer-register-login">
                    <div class="inner-register-login">
                        <h1 class="login-heading1">Create a new Staff Member</h1>
                        <form class="form-create-staff" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" class="btn btn-lg month-game large-button sign-in-button" value="Create User" />
                        </form>
                    </div>
                </div>
                <div class="col-lg-3">

                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% include 'bottom.html' %}