{% include 'top.html' %}
{% block content %}
    <section class="no-color login-section" id="login">
        <div class="container login-register-div">
            <div class="row">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-6 outer-register-login">
                    <div class="inner-register-login">
                        <h1 class="login-heading1">Delete Staff Account</h1>

                            <label for="id_username">Username:</label>
                            <input type="text" name="username"
                                   maxlength="150" autofocus required
                                   id="id_username">
                            <input type="submit" class="btn btn-lg btn-primary
                            large-button sign-in-button" value="Find Staff" />

                    </div>
                </div>
                <div class="col-lg-3">

                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% include 'bottom.html' %}